.blue-btn{
    /* background: linear-gradient(180deg, #01ABE1 0%, #0058CC 100%); */
    background-color: #0058CC;
    /* margin-left: 10%; */
    
    width : auto;
    
    border-radius: 10px;
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color : white;
    font-weight: 600;
    font-size : 1em;
}
